<!DOCTYPE html>
<html>
  <head>
    <title>Webpackreact</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag :meta, name: 'sprite-path', content: image_path('sprite.svg') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'vendor' %>
    <%= javascript_pack_tag 'utilities' %>
    <%= javascript_pack_tag 'application_learn' %>
    <%= javascript_pack_tag 'hello_react' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
